@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.custom-img {
    background-image: url('/assets/downloadbanner.png');
    height: 75%;
    width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
    font-family: 'Poppins', sans-serif !important;
}

a {
    /* color: inherit !important; */
    text-decoration: inherit;
}

a:hover {
    color: #0094DA;
}

@media screen and (min-width: 1399px) {
    .container {
        width: 1320px !important;
    }
}

@media screen and (min-width: 1199px) and (max-width:1398px) {
    .container {
        width: 1140px !important;
    }
}

@media screen and (min-width: 991px) and (max-width:990px) {
    .container {
        width: 960px !important;
    }
}

@media screen and (min-width: 767px) and (max-width:574px) {
    .container {
        width: 720px !important;
    }
}

@media screen and (min-width: 575px) and (max-width:776px) {
    .container {
        width: 540px !important;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: 100% !important;
    }
}

.ant-select .ant-select-selector {
    background: #F5F8FB !important;
    border-radius: 12px;
    height: 48px !important;
    display: flex;
    align-items: center;
    border: none !important;
}

.ant-select-dropdown {
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.08)) !important;
    border-radius: 12px;
    background: #F5F8FB !important;
}

.ant-switch {
    border: 1px solid #A7ADBA;
    border-radius: 12px;
    height: 23px;
}

:where(.css-dev-only-do-not-override-1s3dcof).ant-switch .ant-switch-handle::before {
    background-color: #A7ADBA !important;
    border-radius: 12px !important;
    top: -0px !important;
}

.ant-input,
.ant-input-affix-wrapper {
    border: 1px solid #C0C5CE;
    border-radius: 12px;
    height: 48px;
}

.ant-input-affix-wrapper .ant-input {
    height: auto !important;
}

.ant-form-item-feedback-icon .anticon-close-circle svg {
    display: none !important;
}

.ant-form-item-feedback-icon .anticon-close-circle::after {
    content: url("../assets/danger.svg");
}

.ant-form :where(.css-dev-only-do-not-override-1s3dcof).ant-row,
:where(.css-1s3dcof).ant-form-item .ant-form-item-label>label {
    display: block;
}

.ant-form :where(.css-dev-only-do-not-override-1s3dcof).ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none !important;
}

.ant-form-item-feedback-icon-success .anticon {
    vertical-align: 1px;
}

:where(.css-dev-only-do-not-override-1s3dcof).ant-checkbox-checked .ant-checkbox-inner {
    background-color: #0094DA;
}

.ant-form :where(.css-dev-only-do-not-override-1s3dcof).ant-form-item {
    margin-bottom: 10px;
}

.ant-form .ant-form-item .ant-row {
    display: block !important;
}

.bigTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: #1C2126;
    margin-bottom: 0px;
}

.subTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #1C2126;
    margin-bottom: 0px;
}

.normalPara {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333B42;
}

.right-icon-ham {
    font-size: 43px !important;
    height: 12px !important;
}

.FAQ :where(.css-dev-only-do-not-override-1s3dcof).ant-collapse-ghost>.ant-collapse-item .ant-collapse-header {
    background: #F5F8FB;
    border-radius: 12px;
    margin-top: 6px;
    height: 68px;
    align-items: center;
}

.FAQ .ant-collapse-header-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1C2126;
}

.FAQ .ant-collapse-content-box {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #333B42;
    padding: 23px !important;
}

.FAQ .ant-collapse-item-active .ant-collapse-header {
    background: #0094DA !important;
    border-radius: 12px;
}

.FAQ .ant-collapse-item-active .ant-collapse-header .ant-collapse-header-text {
    color: white;
}

.FAQ .ant-collapse-header svg {
    font-size: 17px;
}

.FAQ .ant-collapse-item-active svg {
    color: white;
}


.ant-form-item-required::before,
.ant-form-item-required::after {
    display: none !important;
}