@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.custom-img {
    background-image: url('/assets/downloadbanner.png');
    height: 75%;
    width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
    font-family: 'Poppins', sans-serif !important;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #0094DA;
}

@media screen and (min-width: 1399px) {
    .container {
        width: 1320px !important;
    }
}

@media screen and (min-width: 1199px) and (max-width:1398px) {
    .container {
        width: 1140px !important;
    }
}

@media screen and (min-width: 991px) and (max-width:990px) {
    .container {
        width: 960px !important;
    }
}

@media screen and (min-width: 767px) and (max-width:574px) {
    .container {
        width: 720px !important;
    }
}

@media screen and (min-width: 575px) and (max-width:776px) {
    .container {
        width: 540px !important;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: 100% !important;
    }
}

.ant-select .ant-select-selector {
    background: #F5F8FB !important;
    border-radius: 12px;
    height: 48px !important;
    display: flex;
    align-items: center;
}

.ant-select-dropdown {
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.08)) !important;
    border-radius: 12px;
    background: #F5F8FB !important;
}

.ant-switch {
    border: 1px solid #A7ADBA;
    border-radius: 12px;
    height: 23px;
}

:where(.css-dev-only-do-not-override-1s3dcof).ant-switch .ant-switch-handle::before {
    background-color: #A7ADBA !important;
    border-radius: 12px !important;
    top: -0px !important;
}

.ant-input,
.ant-input-affix-wrapper {
    border: 1px solid #C0C5CE;
    border-radius: 12px;
    height: 48px;
}

.ant-input-affix-wrapper .ant-input {
    height: auto !important;
}