@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.custom-img {
    background-image: url('/assets/downloadbanner.png');
    height: 75%;
    width: 100%;
}

body {
    overflow-x: hidden !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
    font-family: 'Poppins', sans-serif !important;
}

a {
    /* color: inherit !important; */
    text-decoration: inherit;
}

a:hover {
    color: #0094DA;
}

@media screen and (min-width: 1399px) {
    .container {
        width: 1320px !important;
    }
}

@media screen and (min-width: 1199px) and (max-width:1398px) {
    .container {
        width: 1140px !important;
    }
}

@media screen and (min-width: 991px) and (max-width:990px) {
    .container {
        width: 960px !important;
    }
}

@media screen and (min-width: 767px) and (max-width:574px) {
    .container {
        width: 720px !important;
    }
}

@media screen and (min-width: 575px) and (max-width:776px) {
    .container {
        width: 540px !important;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: 100% !important;
    }
}

.ant-select .ant-select-selector {
    background: #F5F8FB !important;
    border-radius: 12px;
    height: 48px !important;
    display: flex;
    align-items: center;
    border: none !important;
}

.ant-select-dropdown {
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.08)) !important;
    border-radius: 12px;
    background: #F5F8FB !important;
}

.ant-switch {
    border: 1px solid #A7ADBA;
    border-radius: 12px;
    height: 23px;
}

:where(.css-dev-only-do-not-override-1s3dcof).ant-switch .ant-switch-handle::before {
    background-color: #A7ADBA !important;
    border-radius: 12px !important;
    top: -0px !important;
}

.ant-input,
.ant-input-affix-wrapper {
    border: 1px solid #C0C5CE;
    border-radius: 12px;
    height: 48px;
}

.ant-input-affix-wrapper .ant-input {
    height: auto !important;
}

.ant-form-item-feedback-icon .anticon-close-circle svg {
    display: none !important;
}

.ant-form-item-feedback-icon .anticon-close-circle::after {
    content: url("../assets/danger.svg");
}

.ant-form :where(.css-dev-only-do-not-override-1s3dcof).ant-row,
:where(.css-1s3dcof).ant-form-item .ant-form-item-label>label {
    display: block;
}

.ant-form :where(.css-dev-only-do-not-override-1s3dcof).ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none !important;
}

.ant-form-item-feedback-icon-success .anticon {
    vertical-align: 1px;
}

:where(.css-dev-only-do-not-override-1s3dcof).ant-checkbox-checked .ant-checkbox-inner {
    background-color: #0094DA;
}

.ant-form :where(.css-dev-only-do-not-override-1s3dcof).ant-form-item {
    margin-bottom: 10px;
}

.ant-form .ant-form-item .ant-row {
    display: block !important;
}

.bigTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: #1C2126;
    margin-bottom: 0px;
}

.subTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #1C2126;
    margin-bottom: 0px;
}

.normalPara {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #333B42 !important;
}

.right-icon-ham {
    font-size: 43px !important;
    height: 12px !important;
}

.FAQ .ant-collapse-header {
    background: #F5F8FB !important;
    border-radius: 12px !important;
    margin-top: 6px !important;
    height: 68px !important;
    align-items: center !important;
}

.FAQ .ant-collapse-header-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1C2126;
}

.FAQ .ant-collapse-content-box {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px !important;
    display: flex;
    align-items: center;
    color: #333B42;
    padding: 23px !important;
}

.FAQ .ant-collapse-ghost>.ant-collapse-item.ant-collapse-item-active .ant-collapse-header {
    background: #0094DA !important;
    border-radius: 12px !important;
}

.FAQ .ant-collapse-item-active .ant-collapse-header .ant-collapse-header-text {
    color: white !important;
}

.FAQ .ant-collapse-header svg {
    font-size: 17px !important;
}

.FAQ .ant-collapse-item-active svg {
    color: white !important;
}


.ant-form-item-required::before,
.ant-form-item-required::after {
    display: none !important;
}


.searchBox input,
.searchBox select {
    border: 1px solid #C0C5CE;
    border-radius: 12px;
    height: 48px;
    min-width: 28vw;
    padding-left: 17px;
}

.SelectBox select {
    border: 1px solid #C0C5CE;
    border-radius: 12px;
    height: 48px;
    width: 100%;
    padding-left: 17px;
    background: url("../assets/DownArrow.svg") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    padding-right: 2rem !important;
}



/**************************** Blog Page *************************/
.blogsPage select {
    padding-right: 17px !important;
}

.blogsPage .catCard .name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #333B42;
}

.blogsPage .filterBtn button {
    width: 48px;
    height: 48px;
    background: #C0C5CE;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogsPage .filterBtn button:focus {
    background: #0094DA;
    color: white;
}

.blogsPage .catCard {
    display: flex;
    align-items: center;
    gap: 10px;
}

.blogsPage .catCard .name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    /* Colors / Gray / Gray-Dark */

    color: #333B42;
}

.blogsPage .catCard .count {
    background: #0094DA;
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 36px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/**************************** Blog Card *************************/

.BlogCard .mainImg span {
    width: 100% !important;
    /* object-fit: cover !important; */
    max-width: 500px !important;
    min-height: 280px;
    min-width: 362px !important;
    border-radius: 16px;
}

.BlogCard .inner img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.BlogCard .inner h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #0094DA;
    margin: 15px 0px;
    text-align: left;
}

.BlogCard .inner .dateCon {
    display: flex;
    align-items: center;
    gap: 6px;
}

.BlogCard .inner .dateCon .anticon {
    color: #0094DA;
}

.BlogCard .inner h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #1C2126;
    margin: 12px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
}

.BlogCard .inner .nameAndPic {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 12px 0px;
}

.BlogCard .inner p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333B42;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: left;
}


.paginationCon .prevBtn {
    background: #C0C5CE;
    border-radius: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1C2126;
    height: 48px;
    padding: 0px 23px;
    margin-top: -23px !important;
}

.paginationCon .nextBtn {
    background: #0094DA;
    border-radius: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1C2126;
    height: 48px;
    margin-top: -23px !important;
    color: white !important;
    padding: 0px 23px;
}

.paginationCon .ant-pagination .ant-pagination-item {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #65737E;
}

.paginationCon .ant-pagination .ant-pagination-item-active {
    border: none !important;
}



/**************************** Blog Detail *************************/
.Blog .blogDetails .mainImg span {
    width: 100% !important;
    height: 396px !important;
    border-radius: 16px;
}

.Blog h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.02em;
    color: #1C2126;
    margin: 23px 0px;
}

.Blog .namAndPic span {
    width: 87px !important;
    height: 87px !important;
}

.Blog .AddComment textarea,
.Blog .CommentCard textarea {
    border: 1px solid #C0C5CE;
    border-radius: 12px;
    height: 140px;
    width: 100%;
    padding: 15px;
}

.Blog .AddComment button {
    background: #0094DA;
    border-radius: 12px;
    height: 48px;
    padding: 0px 23px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.Blog .keywords button {
    border: 1px solid #333B42;
    border-radius: 8px;
    padding: 8px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #333B42;
}



/**************************** Small Blog Card *************************/
.SmallBlogCard {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}


.SmallBlogCard .mainImg span {
    object-fit: cover !important;
    width: 105px !important;
    height: 102px !important;
    border-radius: 8px;
}

.SmallBlogCard .inner h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #0094DA;
}

.SmallBlogCard .inner .dateCon {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 10px 0px;
}

.SmallBlogCard .inner .dateCon .anticon {
    color: #0094DA;
}

.SmallBlogCard .inner h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1C2126;
    margin: 6px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}



/******** Comment Card *******/
.CommentCard .commentImg span {
    width: 31px !important;
    height: 31px !important;
}




/**************************** Search Page *************************/
.SearchPage select {
    padding-right: 17px !important;
    /* min-width: 20vw !important; */
}

.SearchPage .catCard .name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #333B42;
}

.SearchPage .filterBtn button {
    width: 48px;
    height: 48px;
    background: #C0C5CE;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchPage .filterBtn button:focus {
    background: #0094DA;
    color: white;
}

.SearchPage .catCard {
    display: flex;
    align-items: center;
    gap: 10px;
}

.SearchPage .catCard .name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #333B42;
}

.SearchPage .catCard .count {
    background: #0094DA;
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 36px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchCard .swiper-slide {
    width: 100% !important;
    height: 140px !important;
}

.SearchCard {
    background: #FFFFFF;
    border: 2px solid #0094DA;
    border-radius: 24px;
    padding: 23px;
}

.SearchCard .swiper-slide-active span {
    width: 100% !important;
    height: 140px !important;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 61.48%, rgba(0, 0, 0, 0.6) 127.51%);
    border-radius: 16px;
}

.SearchCard .thumbImages>div {
    display: flex;
    align-items: center;
    gap: 4px;
    overflow-x: auto;
    margin-top: 10px;
}

.SearchCard .thumbImages button span {
    width: 40px !important;
    height: 40px !important;
    border-radius: 8px;
}

.SearchCard p {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 16px;
    letter-spacing: 0.02em !important;
    color: #65737E;
}

.SearchCard .profileImg {
    background: #FFFFFF;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
}